<table>
    <tr>
        <th><img src="~/Images/borfish.jpeg" /></th>
        <th><h3>Reinhardt Coetzee <br />u24587878</h3></th>
    </tr>
</table>
<hr />
<h4>Steps used to update this project:</h4>
<ul>
    <li>Controller to Adapt >> ProductController.cs:
        <ul>
            <li>Added suppliers to the product view model</li>
            <li>Gave each category a supplier id to link them with each other</li>
            <li>Added new action result to get the category by supplier</li>

        </ul>
    </li>

    <li>View to Adapt >> Product >> Index.cshtml:
        <ul>
            <li>Added a new dropdown for supplier (copypasta)</li>
            <li>Added a serial textbox (copypasta)</li>
            <li>Used the provided col-md-4 container to split up the controls into 2 columns</li>
            <li>Controlled serial input to numerical values and 10 char max</li>
            <li>Fixed sequencial ordering and include the new inputs</li>
            <li>Modified the jquery for the textboxes to restrict value to only 10 numbers and the databinding for the supplier list</li>
            <li>Modified the edit, save and delete buttons to include the new dropdown and textbox</li>
            <li>Modified the jquery to toggle the text boxes by finding the current row and toggling the respective text boxes</li>
            <li>Deleted the closest tr with jquery when the del button is clicked</li>
            <li>Added the new controls to the add button's logic</li>
            <li>Generated a unique id (prev + 1) for each new row and assigned it to the tr of each row</li>
            <li>Changed edit and save buttons to use "this" instead of "hardcoding" the id's</li>
            
        </ul>
    </li>

    <li>Models to Adapt >> Category.cs, Product.cs, ProductRepository.cs, ProductViewModel.cs:
        <ul>
            <li>Populated the supplier list in product repository with 5 suppliers</li>
            <li>Updated product.cs to include supplier id</li>
            <li>Added supplier var and list to the product view model</li>
            <li>Added supplier id to category.cs</li>
            <li>Changed the supplier list to only consist of 3 supplier with a 3 > 9 > 16 structure for (supplier > category > product)</li>
        </ul>
    </li>

    <li>New Model to Create >> Supplier.cs:
        <ul>
            <li>Created the supplier model and give it id and name properties</li>

        </ul>
    </li>
</ul>